.row-header {margin: 0px auto; padding: 0px auto;}

.row-progress {}

.row-routine {margin:10px; padding: 50px 10px; border: 1px ridge; min-height: 80px;}

.row-footer {background-color: #D1C4E9; margin:0px auto; padding: 20px 0px;}


.jumbotron 
	{padding: 30px; margin: 0px auto; background-color: #9575CD; border-bottom: 1px solid black;}

address {font-size: 80%; margin: 0px; color: #0f0f0f;}

